[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.org/simple"

[packages]
wget = "*"
certifi = "*"
pycurl = "*"
Django = "*"
uWSGI = "*"
django_celery_beat = "*"
celery = "*"
redis = "*"

[requires]
python_version = "3.6"

[dev-packages]
