[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.org/simple"

[packages]
wget = "*"
certifi = "*"
pycurl = "*"
Django = "*"
uWSGI = "*"
django_celery_beat = "*"
celery = "*"
redis = "*"
mysql = "*"
pillow = "*"
requests = "*"

[dev-packages]
