[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.org/simple"

[packages]
wget = "*"
certifi = "*"
Django = "<=3"
uWSGI = "*"
django_celery_beat = "*"
celery = "*"
redis = "*"
mysql = "*"
pillow = "*"
requests = "*"
djangorestframework = "*"
django-filter = "*"

[dev-packages]
