uwsgi
loguru

django==3.2.*
djangorestframework==3.13.*
djangorestframework-simplejwt==5.1.*
django-filter==21.1.*
drf-yasg
django-log-request-id

celery==5.2.*
django_celery_beat==2.2.*

requests==2.27.*
pillow==9.1.*

redis==4.2.*
psycopg2-binary==2.9.*

ipython