upstream django {
    server api:8000;
}

server {
    listen 80;
    server_name $TUVERMIND_SERVER_NAME;
    charset utf-8;
    return 301 https://$TUVERMIND_SERVER_NAME$request_uri;
}

server {
    listen 443 ssl;
    server_name $TUVERMIND_SERVER_NAME;
    charset utf-8;

    ssl_certificate /etc/nginx/ssl/fullchain_pem.crt;
    ssl_certificate_key /etc/nginx/ssl/key.pem;
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers HIGH:!aNULL:!MD5;
    keepalive_timeout 70;

    location /favicon.ico {
        alias /var/www/tuvermind/favicon.png;
    }
    location / {
        rewrite ^$ index.html break;
        root /var/www/tuvermind/spa/;
    }
    location ~ ^/api/(.*)? {
        uwsgi_pass django;
        include /etc/nginx/uwsgi_params;
    }
    location ~ ^/admin/(.*)? {
        uwsgi_pass django;
        include /etc/nginx/uwsgi_params;
    }
    location /dstatic {
        alias /var/www/tuvermind/static/;
    }
    location /dmedia {
        alias /var/www/tuvermind/media/;
    }
}
