{% extends "base.html" %}

{% block content %}
  <div class="col">
    {% for group in weather.groups %}

      <div class="card m-2 bg-dark my-5">

        <div class="card-header">
          <h3 class="font-weight-bold text-center">
            {{ group|date:"l j E" }}
          </h3>
        </div>

        <div class="card-body">

          <div class="row">
            {% for item in weather.data %}
              {% if item.timestamp.date == group %}
                {% include 'weather/parts/weather_card.html' %}
              {% endif %}
            {% endfor %}
          </div>

        </div>

      </div>
    {% endfor %}
  </div>
{% endblock %}

