<nav>

  <div class="navbar navbar-expand fixed-top navbar-dark bg-dark text-light">
    <a class="navbar-brand my-auto" href="/"><h2 class="font-weight-bold text-monospace">TUVERMIND</h2></a>

    <div class="navbar-collapse offcanvas-collapse my-auto" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto  d-none d-md-flex">
{#        <li class="nav-item">#}
{#          <a class="nav-link text-truncate" href="#">Справка</a>#}
{#        </li>#}
{##}
{#        <li class="nav-item float-right">#}
{#          <a class="nav-link" href="#">Выход</a>#}
{#        </li>#}
      </ul>
{#      <form class="form-inline row my-2 my-lg-0 mr-4 ml-3" action="#" method="post">{% csrf_token %}#}
{#        <input class="form-control mr-sm-2 d-none d-lg-inline" name="search_field" type="text" placeholder=""#}
{#               aria-label="Search">#}
{#        <button class="btn btn-light my-2 my-sm-0 font-weight-bold d-none d-xl-inline" type="submit">Поиск</button>#}
{#      </form>#}
      <h1 class="font-weight-bold my-auto text-monospace" id="divClock"></h1>
    </div>

  </div>

  <div class="justify-content-start lh-100 d-none d-lg-block border-right border-dark"
       style="position: fixed; height: 100%; width:16rem; top: 3rem">

    <div class="d-flex flex-column my-3 d-xs-none ">
{#      <div class="border-bottom container-fluid w-0 p-0 border-dark">#}
{#        <div class="btn btn-outline-light dropdown-toggle font-weight-bold text-left pl-4 border-0 rounded-0 w-100 "#}
{#             type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"#}
{#             aria-controls="collapseExample">#}
{#          Навигация#}
{#        </div>#}
{#      </div>#}
{#      <div class="collapse" id="collapseExample">#}
{#        <div class="btn-group-vertical mt-1 mb-3 pl-2 d-flex rounded-0" role="group">#}
{#          <a class="btn btn-outline-light text-left pl-4 border-0 rounded-0" href="#">#}
{#            --#}
{#          </a>#}
{#          <a class="btn btn-outline-light text-left pl-4 border-0 rounded-0" href="#">#}
{#            --#}
{#          </a>#}
{#        </div>#}
{#      </div>#}
{#      <div class="btn-group-vertical my-3 d-flex rounded-0" role="group">#}
{##}
{#        {% block left_side %}{% endblock %}#}
{##}
{#      </div>#}
    </div>
  </div>

</nav>

{% block js %}
  <script>
    let clock = () => {
      let dt = new Date();

      $('#divClock').text(dt.toLocaleString('RU'));
    };
    clock();
    $(document).ready(() => setInterval(clock, 1000));
  </script>
{% endblock %}