{% load static %}

<div class="card mx-auto my-2 border-0 bg-dark" style="width: 18rem">
  <div class="card-body px-0">

    <table class="table table-borderless table-striped ">
      <thead>
      <tr class="text-secondary">
        <th scope="col">Время</th>
        <th scope="col" class="text-monospace">{{ item.timestamp.time }}</th>
      </tr>
      </thead>

      <tbody class="text-monospace">
      <tr>
        <td colspan="2">
          <div class="d-flex justify-content-center">
            <img src="{% get_media_prefix %}{{ item.weather.icon }}" height="60" width="60">
          </div>

        </td>
      </tr>
      <tr>
        <td class="align-middle my-auto">Температура</td>
        <td class="font-weight-bold">{% include "weather/parts/temperature_coloring.html" %}</td>
      </tr>
      <tr class="small">
        <td class="text-secondary">Ветер</td>
        <td>{{ item.wind_speed }} м/с</td>
      </tr>
      <tr class="small">
        <td class="text-secondary">Влажность</td>
        <td>{{ item.humidity }} %</td>
      </tr>
      <tr class="small">
        <td class="text-secondary">Давление</td>
        <td>{{ item.pressure }} мм</td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
